/* =========== RESET ============== */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #111;
    color: #fff;
    overflow-x: hidden;
}

/* ========== HEADER =========*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.logo{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    opacity: 0.95;
    color: #3d71fe;
}

nav{
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: auto;
    transition: .35s ease;
}

nav.open{
    opacity: 1;
    display: flex;
    transform: translateY(0);
}

/* ====== HERO =======*/
.hero{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 40px 20px;
}

.hero-content{
    max-width: 500px;
}

.hero h1{
    font-size: clamp(28px, 8vw, 48px);
    line-height: 1.2;
    margin-bottom: 16px;
}

.hero p{
    font-size: 16px;
    opacity: 0.85;
    margin-bottom: 24px;
}

.hero-btn{
    display: inline-block;
    padding: 12px 24px;
    background: #0c35a7;
    color: #fff;
    border-radius: 11px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    transition: transform .25s ease, box-shadow .25s ease;
}

.hero-btn:hover{
    opacity: 1;
    border: solid 1px #08a6ce;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(12, 53, 167, .4);
}

/* ========= DESKTOP HEADER ======== */
@media (min-width:768px){
    nav{
        display: flex;
        opacity: 1;
        transform: none;
        gap: 24px;
        pointer-events: auto;
    }

    nav a{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        opacity: 0.75;
        position: relative;
    }

    nav a:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 2px;
        background: #3d71fe;
        transition: width .3s ease;
    }
    
    nav a:hover::after{
        width: 100%;
    }

    nav a:hover{
        opacity: 1;
    }

    .hero{
        padding: 80px 80px;
    }
}

/* ========== MENU SECTION =========== */

.menu{
    padding: 60px 20px;
    background: #151515;
}

.menu h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

.menu-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.menu-card{
    background: #1e1e1e;
    padding: 24px;
    border-radius: 20px;
    transition: transform .35s ease, box-shadow .35s ease;
    cursor: pointer;
}

.menu-card:hover{
    transform: translateY(-12px) scale(1.02) ;
    box-shadow: 0 20px 40px rgba(0, 17, 255, 0.4);
}

.menu-card h3{
    margin-bottom: 8px;
}

.menu-card p{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 12px;
}

.menu-card span{
    font-weight: 600;
    color: #103ebc;
}

/* Desktop Menu Grid*/
@media (min-width:768px){
    .menu-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ========== CONTACT SECTION ========= */
#contact{
    padding: 60px;
    background: #111;
    text-align: center;
}

.contact h2{
    font-size: 20px;
    margin-bottom: 12px;
}

.contact p{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 32px;
}

.contact form{
    max-width: 500px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.contact-form input,
.contact-form textarea{
    padding: 14px 16px;
    border-radius: 14px;
    border: solid 2px #0c35a7;
    background-color: #fff;
    opacity: 0.8;
    color: #1e1e1e;
    font-family: inherit;
    font-style: italic;
    font-weight: 600;
}

.contact-form textarea{
    min-height: 120px;
    resize: none;
}

.contact-form button{
    padding: 14px;
    background-color: #0c35a7;
    opacity: 0.8;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

.contact-form button:hover{
    opacity: 0.5;
}

/* ======== HAMBURGER MENU ========= */
.burger{
    font-size: 26px;
    cursor: pointer;
    display: block;
    color: #103ebc;
}

@media(max-width:768px){

    nav{
        flex-direction: column;
        background: white;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 20px;
        border-radius: 12px;
        z-index: 999;
    }

    nav a{
        color: black;
    }
}

@media(min-width:768px){
    .burger{
        display: none;
    }
}

/* ========= FOOTER SECTION ========= */

footer {
    background: #111;
    color: #eee;
    padding: 60px 20px;
    margin-top: 120px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.footer-about{
    text-align: center;

}

.footer-about h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
}

.footer-about p{
    opacity: .8;
}

.footer-links h3{
    color: white;
    margin-bottom: 10px;
}

.footer-links ul{
    list-style: none;
}

.footer-links a{
    position:relative;
    display: block;
    margin-bottom: 10px;
}

.footer-links a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #3d71fe;
    transition: width .3s ease;
}

.footer-links a:hover::after{
    width: 100%;
}

.footer-links a:hover{
    opacity: 1;
    
}

.footer-links a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
    text-align: center;
    opacity: .8;
}

.footer-copy{
    font-size: .8rem;
    opacity: .6;
    text-align: center;
    margin-top: 2rem;
}

.footer-socials ul{
    text-align: center;
    list-style: none;
}

.footer-socials a{
    color: rgb(43, 92, 255);
    opacity: .75;
}

.footer-socials a:hover{
    opacity: 1;
    text-decoration: none;
    letter-spacing: 2px;

}

.reveal{
    opacity: 0;
    transform: translateY(60px);
    transition: 1s ease;
}

.reveal.show{
    opacity: 1;
    transform: translateY(0);
}

@media(max-width: 656px){
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .footer-container h3{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}

/* ============== PARALLAX ============ */

.parallax{
    will-change: transform;
}